
/*
Original design: Variant Trio (v1.1 - Sep 15, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/variant-trio/
*/

/* Main containers */
body {padding:0; margin:0; font:93% Helvetica, serif; background:#f0f0f0 url(background.jpg) top center; color:#222; text-align:center; line-height:1.5em;}
#wrap {width:980px; text-align:left; margin:0 auto;}

/* Header */
h1 {margin:15px auto 10px auto; padding:0; font-size:2.6em; font-weight:400;color:#a13538; letter-spacing:-1px; line-height:1.2em;}
h1 a {font-size:1.1em; color:#a13538; font-weight:400; text-decoration:none;}
h1 a:hover {color:#222; text-decoration:none;}
.slogan {color:#555; font-size:1.3em; margin:0 0 15px 0; padding:0;}
#headerimage {clear:both; width:980px; height:200px; margin:0 0 15px 0; overflow:hidden; border:2px solid #ddd;}

/* HTML Tags */
a {text-decoration:none; font-weight:400; color:#a13538;}
a:hover {text-decoration:underline;}
a img {border:0;}
h2 {margin:0 0 12px 0; padding:0 0 8px; color:#a13538; font-size:1.8em; font-weight:400; border-bottom:1px solid #ddd;}
h2 a {font-weight:400;}
h3 {font-size:1.6em; font-weight:400; margin:0 0 10px 0; padding:2px 0; color:#a13538; font-size:1.2em; font-weight:400; border-bottom:1px solid #ddd;}
p {margin:0 0 15px 0;}
ul {margin:0 0 15px 20px; padding:0;}
li {margin:0; padding:0 0 0 5px;}

/* Top menu */
#topmenu {text-align:right;margin-top:-40px;}
#topmenu p {font-size:1em; line-height:1.9em; color:#555; margin:0 0 15px 0;}
#topmenu a {padding:6px 8px 5px 8px; font-weight:400; margin:0 0 0 2px; color:#555;}
#topmenu a:hover {background-color:#eee; color:#222; text-decoration:none;}
#topmenu a.active {background-color:#a13538; color:#fff;}
#topmenu a.active:hover {background-color:#a13538; color:#fff;}

/* Sidebar */
#sidebar {font-size:0.8em; width:200px; float:right; margin:0; padding:0; color:#222;}
#sidebar h2 {font-size:1.1em; padding-bottom:1px; border-bottom:1px solid #ddd; margin-bottom:1px; color:#a13538;}
#sidebar ul {list-style:none; margin:0 0 15px 0;}
#sidebar li {padding:0; margin:0;}
#sidebar ul.sidemenu {width:200px; padding:0; margin:0 0 20px 0; border-top:1px solid #ddd;}
#sidebar ul.sidemenu li a {color:#222; display:block; padding:5px 0; margin:0; font-size:0.9em; border-bottom: 1px solid #ddd;}
#sidebar ul.sidemenu li a:hover {color:#222; text-decoration:none; border-bottom: 1px solid #ddd;}
#sidebar ul.sidemenu li a.active {color:#a222;}
#sidebar ul.sidemenu ul {width:180px; padding:0; margin:0 0 0 20px;}
#sidebar ul.sidemenu ul li a {padding:2px 0; margin:0; font-size:0.9em;}

/* Content area */
#content {font-size:0.9em; background:#fff; text-align:left; padding:0; margin:0 220px 15px 0; border:2px; width:760px;}
#content img {margin:5px 0;}
.full, .left, .right {overflow:hidden;}
.full {clear:left; margin:15px 15px 0 15px; width:730px;}
.left {float:left; margin:15px 0 5px 15px; width:355px;}
.right {float:right; margin:15px 15px 5px 0; width:355px;}

/* Footer */
#footer{font-size:0.9em; clear:both; width:980px; line-height:1.4em; color:#777; font-weight:400; margin-bottom:10px;}
#footer a {color:#777; font-weight:400; text-decoration:none; border-bottom: 1px dotted #888;}

/* Various classes */
.centered {text-align:center;}
.hide {display:none;}
.clear {clear:both; width:980px; visibility:hidden;}
